<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista Clientes</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of Cliente">
            <td>{{cliente.nmCliente}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.email}}</td>
            <td>
              <button mat-button class="btn btn-info" routerLink="/update/{{cliente.serial}}">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
